<div class="container mt-5" >
    
<div class="card" style="padding: 20px;">
    <form>
    <input
    type="text"
    ngModel
    name="userName"
    id="userName"
    placeholder="User Name"
    class="form-control mb-3"
    />

    <input
    type="text"
    ngModel
    name="Password"
    id="Password"
    placeholder="Password"
    class="form-control mb-3"
    />

    <input
    type="submit"
    value="Login"
    class="btn btn-outline-primary form-control rounded-2"
    />
</form>
</div>
</div>
